# ==========================================
# Virtual Environment
# ==========================================

venv/
.venv/


# ==========================================
# Python Cache
# ==========================================

__pycache__/
*.py[cod]
*$py.class


# ==========================================
# Testing / Coverage
# ==========================================

.pytest_cache/
.coverage
htmlcov/


# ==========================================
# Large Video Files
# ==========================================

*.mp4
*.avi
*.mov
*.mkv


# ==========================================
# Large ML Model Files
# ==========================================

*.pt
*.onnx
*.weights


# ==========================================
# Generated Output
# ==========================================

output/*

# Keep the output folder in Git
!output/.gitkeep


# ==========================================
# Uploaded Temporary Files
# ==========================================

uploaded_input*
streamlit_output*
test_output*


# ==========================================
# VS Code
# ==========================================

.vscode/


# ==========================================
# OS Files
# ==========================================

.DS_Store
Thumbs.db


# ==========================================
# Python Environment Files
# ==========================================

.env
.env.*